<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách đơn hàng</title>
</head>
<body>
<h2>Đơn hàng của bạn</h2>

<table border="1">
    <tr>
        <th>Mã đơn</th>
        <th>Ngày đặt</th>
        <th>Tổng tiền</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></td>
        <td th:text="${order.totalAmount} + ' ₫'"></td>
    </tr>
</table>

</body>
</html>
